extends layout

block content
  div.container-fluid
    h3 Enter your name:
    input#name
    div.row
      div.col-xs-6.localVideo
        video#localVideo(height='100%', width='100%')
      div.col-xs-6.remoteVideog
        #remoteVideos
    div.row
      div.chatContainer
        div.col-xs-6.textAreaContainer
          textarea#text
        div.col-xs-4
          button.btn.btn-lg.btn-success.chatControls#send Send
          button.btn.btn-lg.btn-info.chatControls#clear Clear
    div.row
      div.chatContainer
        div.col-xs-3.chatMessageContainer
          #messages


