body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea#text {
  width: 100%;
  height: 200px;
}
.localVideo{
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}
.chatContainer {
  height: 300px;
  padding: 20px;
  border: 1px dotted;
  background-color: beige;
}

.col-xs-6.textAreaContainer {
  padding: 15px;
}

.chatControls {
  margin:15px;
}

div#messages {
  padding: 10px;
  border: 1px dotted green;
}

.col-xs-3.chatMessageContainer {
  padding: 15px;
  border: 1px solid;
  margin-top: 15px;
}

.col-xs-6.remoteVideo {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0;
}

.remoteVideo video{
  width: 100%;;
}